<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
    <meta name="author" content="Wesley Kane">
    <meta name="keywords" content="Social Media Smart Scroll">
    <meta name="description" content="Smart Scroll Website">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<!--Main Body of Research page-->
<body>
    <header>
        <!--Main Banner Img and nav-->
        <img id="banner" src="../static/images/banner.png" alt="Site Banner">
        <nav>
            <a alt="Home" href="index.html">Home</a>
            <a alt="Research" href="research.html">Research</a>
            <a alt="Meet The Team" href="contact.html">Meet The Team</a>
        </nav>
    </header>
    <!--Main div-->
    <div class="main">
        <!--Row 1 (Intro)-->
        <h1>Our Market</h1>
        <h3>At Smart-Scroll, we inhabit a unique space at the 
            intersection of two dynamic markets: social networking 
            and education. Let's delve into the specifics:</h3>
        <br>
        <hr>
        <!--Row 2(Market breakdown)-->
        <div class="classA pink">
            <p class="mainTxt">
                <h1>Social Networking Market</h1>
                <h3>
                The social networking market revolves around the use of digital 
                platforms to facilitate connections among individuals, spanning 
                from forging new friendships to networking for professional 
                opportunities. Primarily targeting younger demographics such 
                as Millennials and Gen Z, this market has witnessed exponential 
                growth over the years. According to Statista (2024), the 
                current market value of the social networking industry stands 
                impressively at $153.4 billion, with an anticipated revenue 
                growth of 7.3% from 2022 to 2027.</h3><br>
                <h2>Revenue By Year In The Social Media App Market</h2>
                <h3>
                <img src="../static/images/socialMediaStats.png" alt="Social Media Statistics">
                The Social Networking market contains apps that allow its users to stay connected and up-to-date about the lives of family and friends.
                </h3>
                
                <button onclick="window.location.href = 'https://www.statista.com/outlook/amo/app/social-networking/worldwide';">
                    <h1>Source</h1>
                  </button>
            </p>
        </div>
        <div class="classA">
            <h1>Education Market</h1>
            <h3>
                In the context of Smart-Scroll, the education market 
                encompasses applications that augment the learning process, 
                offering educational content and resources to users of all 
                ages and backgrounds. With a primary focus on students 
                across various education levels, this market has experienced
                 rapid expansion in recent years. Statista (2024) projects 
                 significant growth in revenue, with an initial surge of 
                 15.2% followed by an expected growth rate of 10.49% in the 
                 subsequent years.
                 <br><br>
                 </h3>
                 <h2>Revenue By Year In The Education App Market</h2>
                 <h3>
                 <img src="../static/images/stats.png" alt="Education Statistics">
                 The Education market contains apps that enhance the learning process, typically by way of interactive gamified activities. 
                </h3>
                <button onclick="window.location.href = 'https://www.statista.com/outlook/amo/app/education/worldwide%23:~:text=Total%20revenue%20in%20the%20Education,US%243.54bn%20in%202022.';">
                    <h1>Source</h1>
                  </button>
        </div>
        <hr>
        <div>

        <!--Row 3(Competitive landscape)-->
        <div class="classA">
            <h2><img src="../static/images/researchfirst.png" alt="Book and earth AI art"></h2>
            <h5>Resource Generated By DALLE-3</h5>
        </div>
        <div class="classA pink">
            <p>
                <h1>Competitive Landscape
                </h1>
                <h3>
                    Smart-Scroll faces competition from established leaders in the social 
                    media sphere, notably TikTok and Instagram. These platforms offer a plethora 
                    of features for user connectivity, ranging from direct messaging to hosting 
                    short-form video content. While they excel in fostering social interactions, 
                    they fall short in providing dedicated educational resources and tools, setting 
                    Smart-Scroll apart in its commitment to blending social networking with 
                    educational enrichment.
                    </h3>
                    <br>
                    <h1>Strategic Positioning</h1>

                    <h3>By strategically positioning itself at the intersection of social networking 
                    and education, Smart-Scroll leverages the strengths of both markets while 
                    addressing their respective limitations. With a focus on providing engaging 
                    educational content within a social networking framework, Smart-Scroll offers 
                    a unique value proposition to users seeking a holistic learning experience. 
                    As we continue to innovate and evolve, Smart-Scroll aims to redefine the 
                    boundaries of education and connectivity in the digital age. Join us on this 
                    journey as we pave the way for a brighter future in learning and social 
                    engagement.<br><br><br>
            </h3>
            </p>
        </div>
    </div>
    <hr>
    <div>
        <!--Row 4(Marketing and sales strategy)-->
        <div class="classA pink">
            <p>
            <h1>Marketing And Sales Strategy</h1>
            <h3>To attract users, Smart-Scroll will deploy digital advertising 
                campaigns on social media platforms targeting our student 
                demographics. Partnerships with educational institutions, 
                STEM organizations, and influencers will expand our reach 
                and credibility. We'll leverage machine learning algorithms 
                to offer personalized content recommendations, while 
                incorporating achievement badges and a leaderboard to 
                incentivize engagement. Facilitating community interaction 
                will foster user retention. Our sales team will engage directly
                 with educational institutions and organizations, supplemented 
                 by email campaigns targeting educators and administrators. 
                 Smart-Scroll's app will be free, supported by ad-based revenue,
                  ensuring accessibility to all users.
            </h3>
            <br>
            <h1>Financial Plan</h1>
            <h3>Smart-Scroll will generate revenue through ads, with an ad-free 
                premium model available for $10/month. An initial investment of 
                $500,000 will be allocated towards further development 
                ($200,000), marketing and brand awareness ($150,000), employee 
                salaries and expenses ($100,000), and customer support ($50,000).
                 Financial projections anticipate $100,000 revenue and a loss 
                 of $250,000 in the first year, with profitability achieved in 
                 the second year and significant growth by the fifth year, 
                 culminating in a projected revenue of $3 million and a profit 
                 of $2.1 million.
            </h3>
            </p>
        </div>
        <div class="classA">
            <br>
            <img src="../static/images/profit.png" alt="Projected revenue graph">
            <h4>This graph shows projected revenue for Smart-Scroll over a period of five years</h4>
        </div>
    </div>
    <hr>
    <!--Row 5(Competitive edge)-->
    <div>
        <div class="classA">
            <h3><img src="../static/images/final.png" alt="Kids with book AI artr"></h3>
            <h5>Resource Generated By DALLE-3</h5>
        </div>
        <div class="classA pink">
            <p><br>
            <h1>Unlocking Smart-Scroll's Competitive Edge
            </h1>
            <h3>Smart-Scroll is ready to outperform its rivals by focusing on 
                what we do best: innovative features and promising 
                opportunities. Our standout qualities include a smart 
                recommendation system, a trusted name in education, and 
                short, easy-to-understand educational videos. Unlike regular 
                social media, Smart-Scroll's style is perfect for learning and 
                remembering things, as shown by studies from Bradbury (2016) and Zhu (2022).
                <br>
                But we're not without challenges. One big issue is that not 
                many people know about us yet, which is tough when there are 
                big players in the market. But we're turning that into a chance
                 to grow. By teaming up with universities and spreading our 
                 content worldwide, we'll make sure more people know about us 
                 and have less reason to stick with the big guys.
                <br>
                In a market where buyers have a lot of power and competition is
                 fierce, Smart-Scroll has a clear plan. We'll use our unique 
                 brand and educational content to stand out and make it harder 
                 for users to switch to other platforms. With our focus on new 
                 ideas and teamwork, Smart-Scroll is ready to change the game in
                  education.
            </h3>
            </p>
        </div>
    </div>
    <hr>
    <!--Row 6(Research)-->
    <p>
        <h1>Research Sources
        </h1>
        <h3>
        <ul>
            <li>Bradbury, N. A. (2016). Attention span during lectures: 8 seconds, 10 minutes, or more? Advances in Physiology Education, 40(4), 509–513. doi:10.1152/advan.00109.2016</li>
            <li>Education - worldwide: Statista market forecast. (n.d.-a). Retrieved from https://www.statista.com/outlook/amo/app/education/worldwide#:~:text=Total%20revenue%20in%20the%20Education,US%243.54bn%20in%202022.</li>
            <li>RK, R., S, S., P, V., + K, S. (2021). Real-time attention span tracking in online education. Retrieved from https://arxiv.org/abs/2111.14707</li>
            <li>Social Networking - worldwide: Statista market forecast. (n.d.-b). Retrieved from https://www.statista.com/outlook/amo/app/social-networking/worldwide#:~:text=Total%20revenue%20in%20the%20Social,US%24189.50bn%20by%202027.</li>
            <li>Zhu, J., Yuan, H., Zhang, Q., Huang, P.-H., Wang, Y., Duan, S., … Song, P. (2022). The impact of short videos on student performance in an online-flipped College Engineering Course. Retrieved from https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9510322/</li>
        </ul>
        </h3>
    </p>

    </div>
    <footer>
        <p>
            <h4>Copyright © 2024 Smart-Scroll - All Rights Reserved.
            <br>
            5000 Forbes Ave, Pittsburgh, PA 15213 | +1.8568344110
        </h4>
        </p>


    </footer>
</body>
</html>